@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 @apply text-white bg-gray-800 overflow-y-auto overflow-x-hidden h-full relative;
}
html {
    @apply h-full box-border relative;
  }

  #__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
  }


.text-reverse {
 @apply text-black
}

html {
  scroll-behavior: smooth;
}